html{
    background:url(../images/bg-desktop.png);
    background-color: #0C122C;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 0 bottom 0; 
    background-size: 100% 50%;
    font-family: 'raleway','san-serif';
  
    
    
}

main{
    display:flex;

position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    
}
/* Left items -------------------------------------*/
.actions{

    background-color:#1E2C69;
    margin: auto;
    width: 200px;
    text-align: left;
    padding:35px 50px 28px 30px;
    border-radius: 5px 70px 5px 5px;
    margin-right: 0px;
}
.logo{
    width:50%
}
.buttons{ display:flex;
    flex-flow: row nowrap;}
.buttons img{

width:20px;
height:15px;
    border-radius: 6px;
    background-color: #0F1A41;
    padding:8px;
    margin:5px;
    margin-top: 25px
}

.buttons .document{
    width:20px;
    padding: 8px 9px;
    margin-left:0px;
}

.folder:hover,.upload:hover,.document:hover{
    cursor:pointer;
    filter:brightness(150%)
}

/* Right Items --------------------------------------------------------*/

.bar-text{

    background-color:#1E2C69;
    color:white;
    border-radius: 5px;
margin:auto;

margin-left:20px;
padding:30px;
padding-bottom:30px;
padding-top:32px;
width:500px;



}


.textbox{
    margin-top:-100px;
    margin-left:300px;
    position:absolute;
}

.remaining-storage{
background-color: white;
color:grey;
font-weight: 700;
padding:20px;
padding-top:20px;
border-radius: 6px 6px 0px 6px;
margin: 0;
width:130px;
margin-left:auto;
margin-right:0px;
}

.triangle{
    width: 0;
      height: 0;
      border-top:30px solid white;
      border-left: 30px solid transparent;
   margin-left: auto;
      margin-right:0;

}
.progress-bar{
    display: grid;
    grid-template-columns: 1fr;
}
.bar-background{
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: #151D49;
    width:100%;
    height:20px;
    border-radius: 10px;
    margin-top: 15px;
}
.bar{
    grid-row-start: 1;
    grid-column-start: 1;
margin-top: 18px;
margin-left: 4px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width:60%;
    height:14px;
    border-radius: 10px;
    z-index: 1;



}

.circle {
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left:58%;
  }
.remaining-storage strong{
    color:black;
    font-size:2em;
    
    }
.progress-bar-text{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    font-weight: 700;
}


.bar-text,.actions{
    
box-shadow: hsl(229, 57%, 11%) 0px 4px 25px 0px;
}




@media (max-width: 375px){
    main{
display:flex;
flex-direction: column;
justify-content: center;
font-size:0.8em

    }
html{
background:url(../images/bg-mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #0C122C;
    background-position: center;
    height: 100%
}
.bar-text,.actions{
    
    margin:8px auto;
    width:65%
}
.bar-text{
    width:71%;
}
.remaining-storage{
    display:flex;
    background-color: white;
    color:grey;
    font-weight: 700;
    padding:20px;
    padding-top:20px;
    border-radius: 6px;
    margin: 20px;
font-size: 1.34em;
margin-top:0px;

    }

    .triangle{
        width: 0;
          height: 0;
          border-top:0;
          border-left: 30px solid transparent;
  margin:0;
    
    }

    .textbox{
        margin:0 auto;
        margin-top:70px;
    
    }
    .buttons img{
        width:2em;
        height:auto;
    padding:10px;}

        .buttons .document{
            width:23px;;
            margin-left:0px;
        }
}  /*  end for @media */


